<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/91d91b44-8c8f-4749-83ca-90002544d3f5/resourcegroups/SpeechResourceGroup/providers/Microsoft.ContainerRegistry/registries/TtsPowerpoint</ResourceId>
    <ResourceName>TtsPowerpoint</ResourceName>
    <ResourceGroup>SpeechResourceGroup</ResourceGroup>
    <Subscription>AzurePersonalAccount</Subscription>
    <RegistryUrl>ttspowerpoint.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>